body{
	background-color: black;
	color: white;
}

#intro{
	margin: 0 auto;
}

h1, p{
	text-align: center;
}

h1{
	font-size: 48px;
}

.movies{
	height: 400px;
}

.thumb {
	float: left;
	margin: 5px;
	height: 250px;
	width: 250px;
	cursor: pointer;
}

.quote {
	clear: both;
	font-size: 48px;
	text-align: center;
}

.hidden{
	visibility: hidden;
}

.poster{

}
/*
transform: translate (-200px, 0px)*/