body{
	background-color: black;
	color: white;
	font: Open Sans;
}

#intro{
	margin: 0 auto;
}

h1, p{
	text-align: center;
}

h1{
	font-size: 48px;
}

.movies{
	height: 400px;
}

.thumb {
	float: left;
	margin: 5px;
	height: 250px;
	width: 250px;
	cursor: pointer;
}

.quote {
	clear: both;
	font-size: 48px;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.poster{

}
.clicked {	
	transition:  (-800px, 0px);
	transition-duration: (400ms);
}

@media screen (min-width: 1024px){
	.thumb{
		clear: both;
	}
}
